html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #504c48;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Regular";
  src: url("/font/Kurale-Regular.ttf");
}

